<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Id</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <% approvedProducts.forEach(product => { %>
    <tr id="product-<%= product.productId %>">
      <td class="product-name">
        <img src="<%= product.image %>" class="product-img" alt="<%= product.name %>">
      </td>
      <td><%= product.name %></td>
      <td><%= product.productId %></td>
      <td><%= product.quantity %></td>
      <td><s>$<%= product.oldPrice %></s> <br><span class="price">$<%= product.newPrice %></span></td>
      <td><%= product.type %></td>
    </tr>
    <% }); %>
  </tbody>
</table>