<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>UploadedBy</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Type</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% approvedProducts.forEach(product => { %>
    <tr id="product-<%= product._id.toString() %>">
      <td class="product-name">
        <img src="<%= product.image %>" class="product-img" alt="<%= product.name %>">
      </td>
      <td><%= product.name %></td>
      <td><%= product.userId.name %> (<%= product.uploadedBy %>)</td>
      <td><%= product.quantity %></td>
      <td><s>₹<%= product.oldPrice %></s> <br><span class="price">₹<%= product.newPrice %></span></td>
      <td><%= product.category %></td>
      <td><button class="btn remove-btn approve-side" data-id="<%= product._id.toString() %>">Remove</button></td>
    </tr>
    <% }); %>
  </tbody>
</table>