<div class="product-card">
  <a href="/products/<%= product.productId%>">
    <img src="<%= product.image %>" alt="<%= product.name %>" />
  </a>
  <hr>
  <div class="details">
    <a href="/products/<%= product.productId%>">
      <h3>
        <%= product.name %>
      </h3>
      <p>Category: <%= product.type %></p>
    </a>
    <p class="price">
      <span class="old-price">
        <%= "₹"+product.oldPrice %>
      </span> <span class="new-price">
        <%= "₹"+product.newPrice %> inc. GST
      </span>
    </p>
    <button onclick="updateCart('<%= userId %>', '<%= product.productId %>')">Add to Cart</button>
  </div>
</div>