<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Store</title>
  <link rel="stylesheet" href="/navbar2.css">
  <link rel="stylesheet" href="/customer/store.css">
  <link rel="stylesheet" href="/footer.css">
</head>

<body>
  <%- include("../partials/navbar2",{role}) %>
  <div class="content">
    <ul class="product-list">
      <% products.forEach(product=> { %>
      <li><%- include("../partials/product-card", {product, userId}) %></li>
      <%})%>
    </ul>
    <ul class="pagination">
      <% if (currentPage> 1) { %>
      <a href="/customer/store?page=<%= currentPage - 1 %>">Previous</a>
      <% } %>

      <% for (let i=1; i <=totalPages; i++) { %>
      <a href="/customer/store?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>">
        <%= i %>
      </a>
      <% } %>

      <% if (currentPage < totalPages) { %>
      <a href="/customer/store?page=<%= currentPage + 1 %>">Next</a>
      <% } %>
      <ul />

  </div>
  <%- include("../partials/footer") %>
  <script>
    async function updateCart(userId, productId) {
      try {
        const response = await fetch(`/customer/store?userId=${userId}&productId=${productId}`, {
          method: "POST"
        });

        const data = await response.json();
        console.log(data.message);
      } catch (error) {
        console.log("Error updating cart: ", error);
      }
    }
  </script>
</body>

</html>